<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="m-3">All Users</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{ ID }</th>
                    <td>{ FULL_NAME }</td>
                    <td>{ EMAIL }</td>
                    <td>{ CREATED_AT }</td>
                </tr>
            </tbody>
        </table>
        <p><a class="link-danger m-3" href="/users/create">Create a new user...</a></p>
    </div>
</body>
</html>